| {% extends '_layout' %}
| {% block content %}
| {% requireLogin %}

| {% for membersPage in craft.entries.section('members').all() %}

| {% for pic in membersPage.titleImage.limit(1).all() %}
.main-header.backgroundimage.gallery-header.sub-header(style='background-image: url({{ pic.url }});')
    .overlay
      .hero-text
        | {% if membersPage.title | length %}
        h1.text-white {{membersPage.title }}
        | {% endif %}
| {% endfor %}


.page-wrapper.head-pad.single-pad.push-footer
    .gallery-prev
        .event.presentation-cont.uk-margin-large-top
            h1.uk-margin-medium-bottom Presentations
            | {% for block in membersPage.presentations.all() %}
            | {% for entry in block.year %}
            h2 {{ entry.year }}
            | {% for presentation in entry.presentation.all() %}
            a(href='{{presentation.url}}') {{ presentation.title }}
            | {% endfor %}
            | {% endfor %}
            | {% endfor %}
| {% endfor %}

| {% endblock %}