{% extends '_layout' %}
{% block content %}<div class="page-wrapper head-pad single-pad push-footer team-pad"><div class="gallery-prev"><h1 class="page-title uk-text-center">{{ entry.title }}</h1><div class="profile-cont">{% set image = entry.committeeImage.first() %}
{% if image %}<div class="team-img-cont"><img src="{{image.url('teamImageBig')}} " alt="team member large pic"/></div>{% endif %}<div class="team-text">{% if entry.bio | length %}<p>{{ entry.bio }}</p>{% endif %}
{% if entry.email | length %}<a href="mailto:{{ entry.email }}">{{ entry.email }}</a>{% endif %}
{% if entry.linkedInUrl | length %}<a href="{{ entry.linkedInUrl }}" class="linkedin"><img src="{{siteUrl}}build/images/assets/Linkedin-Button.jpg" alt="linked in"/></a>{% endif %}</div></div></div></div>{% endblock %}