| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad.single-pad.push-footer.team-pad
    .gallery-prev
        h1.page-title.uk-text-center {{ entry.title }}
        .profile-cont
            | {% set image = entry.committeeImage.first() %}
            | {% if image %}
            .team-img-cont
                img(src="{{image.url('teamImageBig')}} ", alt='team member large pic')
            | {% endif %}
            .team-text
                | {% if entry.bio | length %}
                p {{ entry.bio }}
                | {% endif %}
                | {% if entry.email | length %}
                a(href="mailto:{{ entry.email }}") {{ entry.email }}
                | {% endif %}
                | {% if entry.linkedInUrl | length %}
                a.linkedin(href="{{ entry.linkedInUrl }}")
                    img(src="{{siteUrl}}build/images/assets/Linkedin-Button.jpg" , alt='linked in')
                | {% endif %}

| {% endblock %}