#team.uk-margin-medium-bottom
.section.pad.uk-margin-remove
    .page-wrapper
        h1.committee.uk-text-center Committee

        |{% for team in craft.entries.section('committee').all() %}

        .col.col--1-of-4
            .team-cont
                | {% set image = team.committeeImage.first() %}
                | {% if image %}
                .team-img-cont-small
                    img(src="{{image.url('teamImage')}}", alt='team member')
                | {% endif %}
                | {% if team.title | length %}             
                h1 {{team.title}}
                | {% endif %}
                | {% if team.position | length %}
                h2 {{ team.position }}
                | {% endif %}
                a.linkedin(href="{{ team.linkedInUrl }}")
                    i.fab.fa-linkedin-in
                a(href="{{team.url}}") View Profile

        |{% endfor %}