<!--Main Jquery Library-->
<script src ="{{ siteUrl }}build/js/jquery.min.js"></script>



<!-- UI Kit -->
<script src="{{ siteUrl }}build/js/uikit.min.js"></script>
<script src="{{ siteUrl }}build/js/uikit-icons.min.js"></script> 

<!-- simple lightbox js -->
<script src="{{ siteUrl }}build/js/simple-lightbox.min.js"></script>

<!-- Lazy Load -->
<script src="{{ siteUrl }}build/js/lazyload.min.js"></script>

<!--Custom JS-->
<script src="{{ siteUrl }}build/js/main.min.js"></script>