.section.pad.uk-margin-remove
    .page-wrapper.head-pad
        .heading
            i.far.fa-image.fa-2x.text-purple
            h2.big-title
                span gallery
        .gallery-prev.uk-text-center       
            |{% for galleryPreview in craft.entries.section('gallery').limit(8).all() %}
            a(href="{{siteUrl}}gallery")
                | {% for asset in galleryPreview.images.limit(1).all() %}
                img.thumb(src="{{asset.url('galleryThumb')}}", alt='thumbnail')
            |{% endfor %}
            |{% endfor %}