<div id="home" class="main-header backgroundimage"><div class="overlay"><div class="hero-text">{% if block.heading | length %}<h1 class="text-white">{{ block.heading }}</h1>{% endif %}
{% if block.description | length %}<h2 class="text-white hero-margin">{{ block.description }}</h2>{% endif %}<div class="row"><div class="col col--1-of-2">{% for membershipInfo in craft.entries.section('membershipInfo').all() %}
{% set applicationForm = membershipInfo.applicationForm.first() %}<a href="{{ applicationForm.Url }}" class="btn-link"><button class="btn btn-left">join us</button></a>{% endfor %}              </div><div class="col col--1-of-2"><a href="{{ siteUrl }}members" class="btn-link"><button class="btn purple-bg btn-right">member log in</button></a></div></div></div></div></div>