#home.main-header.backgroundimage
  .overlay
      .hero-text
        | {% if block.heading | length %}
        h1.text-white {{ block.heading }}
        | {% endif %}
        | {% if block.description | length %}
        h2.text-white.hero-margin {{ block.description }}
        | {% endif %}
        .row
          .col.col--1-of-2
            | {% for membershipInfo in craft.entries.section('membershipInfo').all() %}
            | {% set applicationForm = membershipInfo.applicationForm.first() %}
            a.btn-link(href="{{ applicationForm.Url }}")
              button.btn.btn-left join us
            | {% endfor %}              
          .col.col--1-of-2
            a.btn-link(href="{{ siteUrl }}members")
              button.btn.purple-bg.btn-right member log in