<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Jado | Jersey Association of Directors & Officers</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    {% hook 'seomaticRender' %}
    
    <link rel="stylesheet" href="{{ siteUrl }}build/css/styles.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}build/css/hamburger.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}build/css/simplelightbox.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/mjo4hew.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="60x60" href="{{siteUrl}}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{siteUrl}}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{siteUrl}}favicon-16x16.png">
    <link rel="manifest" href="{{siteUrl}}site.webmanifest">
    <link rel="mask-icon" href="{{siteUrl}}safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <script>
        window.siteUrl = "{{ siteUrl }}";
    </script>
</head>
<body>
