<div id="membership" class="uk-margin-medium-top"></div><div class="section member pad"><div class="page-wrapper"><div class="heading"><i class="fas fa-user fa-2x text-purple"></i><h2 class="big-title"><span>{{ block.headingMain }}</span></h2></div><div class="text"></div>{{ block.textOne }}<h3>{{ block.headingTwo }}</h3>{{ block.textTwo }}<h3>{{ block.headingThree }}</h3>{{ block.textThree }}
{% for membershipInfo in craft.entries.section('membershipInfo').all() %}
{% set applicationForm = membershipInfo.applicationForm.first() %}<div class="doc-cont uk-text-center"><i class="far fa-file fa-3x text-purple nav-icon uk-margin-small-right"></i><a href="{{ applicationForm.Url }}">Membership Form</a></div>{% endfor %}</div></div>