#membership.uk-margin-medium-top
.section.member.pad
    .page-wrapper
        .heading
            i.fas.fa-user.fa-2x.text-purple
            h2.big-title
                span {{ block.headingMain }}

        .text
        | {{ block.textOne }}
        h3 {{ block.headingTwo }}
        | {{ block.textTwo }}
        h3 {{ block.headingThree }}
        | {{ block.textThree }}

        | {% for membershipInfo in craft.entries.section('membershipInfo').all() %}
        | {% set applicationForm = membershipInfo.applicationForm.first() %}
        .doc-cont.uk-text-center
            i.far.fa-file.fa-3x.text-purple.nav-icon.uk-margin-small-right
            a(href="{{ applicationForm.Url }}") Membership Form
        | {% endfor %}