nav.main-nav
    .main-nav-cont
        .logo-cont
            | {% if entry.slug == "homepage" %}
            a.link(href="#home")
                img(src="{{siteUrl}}build/images/assets/logo.svg", alt='logo').logo
            | {% else %}
            a(href="{{siteUrl}}")
                img(src="{{siteUrl}}build/images/assets/logo.svg", alt='logo').logo
            | {% endif %}

        .menu-btn#btn.uk-padding-remove
            .hamburger.hamburger--collapse
                .hamburger-box
                    .hamburger-inner

        .nav-cont.uk-transform-origin-top-center.uk-animation-scale-up.uk-animation-fast
            ul
                li
                    | {% if entry.slug == "homepage" %}
                    a.link(href="#membership") membership
                    | {% else %}
                    a(href="{{siteUrl}}#membership") membership
                    | {% endif %}
                li
                    a(href="{{siteUrl}}gallery") gallery
                li
                    a(href="{{siteUrl}}events") events
                li
                    | {% if entry.slug == "homepage" %}
                    a.link(href="#team") committee
                    | {% else %}
                    a(href="{{siteUrl}}#team") committee
                    | {% endif %}
                li
                    a(href="{{siteUrl}}news") news
                li
                    a(href="{{siteUrl}}contact") contact
                li
                    a(href="{{siteUrl}}members") members area

                | {% if craft.session.isLoggedIn %}
                li
                    a.text-lower.text-dark-purple(href="{{ logoutUrl }}") Logout
                        i.nav-icon.uk-margin-small-left.fas.fa-2x.fa-sign-out-alt
                | {% else %}
                li
                    a.text-lower.text-dark-purple(href="{{ loginUrl }}") Login
                        i.nav-icon.uk-margin-small-left.fas.fa-2x.fa-sign-in-alt
                | {% endif %}
