<div class="section bg-gray box-shadow"><div class="overlay"><div class="one-cont"><div class="heading page-wrapper uk-text-center"><h2 class="text-white text-shadow">Our next event</h2>{% set events = craft.entries.section("events").orderBy('eventDate asc').all() %}
{% for event in events if event.eventDate > now|date_modify("-1 day") %}
{% if loop.first %}<div class="event next-event"><h2>{{ event.title }}</h2><p>Date: {{ event.eventDate|date('full') }}</p><p><span>Venue:</span>{{ event.venue }}</p>{% if event.details|length %}<p><span>Details:</span>{{ event.details }}</p>{% endif %}                                 <p><span>Speaker:</span>{{ event.speaker }} </p><p><span>Time:</span>{{ event.time }} </p></div>{% endif %}
{% endfor %}<div class="row"><div class="col col--1-of-2"><a href="mailto:chairman@jado.je" class="btn-link"><button class="btn btn-left">register</button></a></div><div class="col col--1-of-2"><a href="{{ siteUrl }}events" class="btn-link"><button class="btn purple-bg btn-right">view more events</button></a></div></div></div></div></div></div>