.section.bg-gray.box-shadow
    .overlay
        .one-cont
            .heading.page-wrapper.uk-text-center
                h2.text-white.text-shadow Our next event
                //- |{% for event in craft.entries.section('events').all()|sort  %}
                //- |{% if event.eventDate|date('Y-m-d') >  "now"|date('Y-m-d') %}
                |{% for event in craft.entries.section('events').all() if event.eventDate|date('Y-m-d') >  "now"|date('Y-m-d') %}
                //- {% if loop.first %}
                .event.next-event
                    h2 {{ event.title }}
                    p Date: {{ event.eventDate|date('full') }}
                    p
                        span Venue:
                        | {{ event.venue }}
                    |{% if event.details|length %}
                    p
                        span Details:
                        | {{ event.details }}
                    |{% endif %}                                 
                    p
                        span Speaker:
                        | {{ event.speaker }} 
                    p
                        span Time:
                        | {{ event.time }} 
                //- {% endif %}
                |{% endfor %}                
                .row
                    .col.col--1-of-2
                        button.btn.btn-left join us
                    .col.col--1-of-2
                        button.btn.purple-bg.btn-right member log in