.section.bg-gray.box-shadow
    .overlay
        .one-cont
            .heading.page-wrapper.uk-text-center
                h2.text-white.text-shadow Our next event
                {% set events = craft.entries.section("events").orderBy('eventDate asc').all() %}
                {% for event in events if event.eventDate > now|date_modify("-1 day") %}
                {% if loop.first %}
                .event.next-event
                    h2 {{ event.title }}
                    p Date: {{ event.eventDate|date('full') }}
                    p
                        span Venue:
                        | {{ event.venue }}
                    |{% if event.details|length %}
                    p
                        span Details:
                        | {{ event.details }}
                    |{% endif %}                                 
                    p
                        span Speaker:
                        | {{ event.speaker }} 
                    p
                        span Time:
                        | {{ event.time }} 
                {% endif %}
                {% endfor %}
                .row
                    .col.col--1-of-2
                        a.btn-link(href="mailto:chairman@jado.je")
                            button.btn.btn-left register
                    .col.col--1-of-2
                        a.btn-link(href="{{ siteUrl }}events")
                            button.btn.purple-bg.btn-right view more events