<div class="section"><div class="row three-col page-wrapper"><div class="col col--1-of-3">{{ block.leftText }}</div><div class="col col--1-of-3">{{ block.midText }}</div><div class="col col--1-of-3">{{ block.rightText }}</div></div></div>