.section
  .row.three-col.page-wrapper
      .col.col--1-of-3
        | {{ block.leftText }}
      .col.col--1-of-3
        | {{ block.midText }}
      .col.col--1-of-3
        | {{ block.rightText }}