.section.dark.pad
    .heading.page-wrapper

        h2.big-title
            span.dark {{ block.headingMain }}
        .uk-margin-auto.subtitle {{ block.textOne }}
        .row.three-col
            .col.col--1-of-3
                h2.wwd-subtitle.text-white.uk-text-center {{ block.leftHeading }}
                i.far.fa-envelope.fa-5x.text-white
                | {{ block.leftText }}
            .col.col--1-of-3
                h2.wwd-subtitle.text-white.uk-text-center {{ block.midHeading }}
                i.far.fa-calendar-alt.fa-5x.text-white
                | {{ block.midText }}
            .col.col--1-of-3
                h2.wwd-subtitle.text-white.uk-text-center {{ block.rightHeading }}
                i.far.fa-chart-bar.fa-5x.text-white
                | {{ block.rightText }}
    .text