/** Shame on you for using this folder ;) **/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: auto;

}

body {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    color: #333;
}

p, a {
    font-size: 0.9em;
}

a {
    font-size: 1em;
    color: $purple;
}

a:hover {
    color: $purple;
    text-decoration: underline;
}

.page-wrapper {
    max-width: 1260px;
    margin: 0 auto;
}

.img-bg {
    height: 420px;
    width: 100%;
    background-size: contain;
    position: absolute;
    left: -15%;
    top: 10%;
    @include mobile-break {
        background-size: auto;
        height: 375px;
        width: 90%;
        padding: 5%;
        top:-3%;
        position: initial;
    }
}

.purple-bg {
    background:$purple;
    color: white;
}

.text-dark-purple {
    color: #3f356b!important;
}

.text-purple {
    color:$purple!important;
}



.text-lower {
    text-transform: none!important;
}

.title-cont {
    padding-bottom: 20px;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center
}

.three-col {
    padding-top: 30px;
}
.three-col p {
    padding: 25px 20px;
    opacity: 0.75;
}

.dark {
    background-color: #1c1c1c;
    color: #888;
}

.section.pad {
    margin: 5em 0 0 0;
    padding: 66px;
    @include mobile-break {
        padding: 5%;
    }
}

.subtitle {
    font-size: 1.286rem;
}

.wwd-subtitle {
    text-transform: uppercase;
    font-size: $font-larger;
    padding: 25px 0 20px 0;
}

.one-cont {
    padding: 100px 0;
}

.bg-gray {
    background:  #d1d1d1;
}

.box-shadow {
    -webkit-box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.4);
}

.text-shadow {
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    letter-spacing: 2.5px;
}

.one-cont h2 {
    font-size: 30px;
}

.one-cont h3 {
    padding: 30px 0;
    font-size: 1.1em;
    text-transform: uppercase;
}

.single-pad {
    padding-left: 5%;
    padding-right: 5%;
}

.contact-form {
    // max-width: 400px;
    margin-top: 15px;
}

.contact-form label {
    font-size: 14px;
}

.contact-form input{ padding: 5px; }

.contact-form input, .contact-form textarea, .contact-form button {
    border: solid 1px #dfdfdf;
    width: 100%;
}

.contact-form .btn-small {
    margin-top: 15px;
    padding: 10px 18px !important;
}

.contact-cont {
    max-width: 600px;
    margin: auto;
}

.next-event{ 
    margin: 25px auto 25px auto;
    padding: 2% 3%;
    background: white;
    // width: 35%;
    border: 0;
 }

 .btn-link:hover {
     text-decoration: none;
 }