| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad.single-pad.push-footer.team-pad
    .gallery-prev
        | {% for entry in craft.entries.section('formComplete').all() %}
        h1.page-title-pad.uk-text-center {{ entry.heading }}
        .uk-text-center {{ entry.description }}
        | {% endfor %}
| {% endblock %}