| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad-big.single-pad.push-footer
    .gallery-prev.membership-cont
        h1.page-title-pad.uk-text-center Membership Guidlines
        | {% for membershipInfo in craft.entries.section('membershipInfo').all() %}
        | {{ membershipInfo.guidlines }}

        | {% set applicationForm = membershipInfo.applicationForm.first() %}
        .doc-cont.uk-text-center.uk-margin-bottom
            i.far.fa-file.fa-2x.text-purple.nav-icon.uk-margin-small-right
            a(href="{{ applicationForm.Url }}") Membership Form

        h1.page-title-pad.uk-text-center Membership FAQs
        | {{ membershipInfo.faq }}



        | {% endfor %}

| {% endblock %}