{% extends '_layout' %}
{% block content %}
{% for pic in entry.images.all %}
{% if loop.first %}<div style="background-image: url({{ pic.url }});" class="main-header backgroundimage gallery-header sub-header"><div class="overlay"><div class="hero-text">{% if entry.title | length %}<h1 class="text-white">{{entry.title}}</h1>{% endif %}
{% if entry.albumDescription | length %}<h2 class="text-white">{{entry.albumDescription}}</h2>{% endif %}</div></div></div>{% endif %}
{% endfor %}<div class="page-wrapper head-pad gallery-pad"><div class="gallery-prev uk-text-center"><div class="gallery">{% for asset in entry.images.all() %}<a href="{{asset.url}}"><img src="{{asset.url('galleryThumb')}}"/></a>{% endfor %}</div></div></div>{% endblock %}