| {% extends '_layout' %}
| {% block content %}

| {% for gallery in craft.entries.section('gallery').all() %}
| {% if loop.last %}
| {% for pic in gallery.images.limit(1).all() %}
.main-header.backgroundimage.gallery-header.sub-header(style='background-image: url({{ pic.url }});')
  .overlay
      .hero-text
        h1.text-white.no-desc-title Gallery
| {% endfor %}
{% endif %}
| {% endfor %}

.page-wrapper.head-pad.push-footer
    .gallery-prev.uk-text-center
        | {% for galleryPreview in craft.entries.section('gallery').all() %}
        a(href="{{galleryPreview.url}}")
            p {{galleryPreview.title}}
            | {% for asset in galleryPreview.images.limit(1).all() %}
            img.thumb(src="{{asset.url('galleryThumb')}}" , alt='gallery thumbnail')
            | {% endfor %}
        | {% endfor %}

| {% endblock %}