/** https://stackoverflow.com/questions/44498297/in-sass-whats-the-difference-between-mixins-and-extend-features **/

// Media Mixins
@mixin full-screen {
    @media (max-width: #{$full-screen}){
        @content;
    }
}

@mixin semi-full-screen{ 
    @media(max-width: #{$semi-full-screen}){
        @content;
    }
}

@mixin desktop-larger{
    @media(max-width: #{$desktop-larger}){
        @content;
    }
}

@mixin desktop-large{
    @media(max-width: #{$desktop-large}){
        @content;
    }
}

@mixin desktop{
    @media(max-width: #{$desktop}){
        @content;
    }
}

@mixin mobile-break{
    @media(max-width: #{$mobile-break}){
        @content;
    }
}
@mixin mobile-actual-break{
    @media(max-width: #{$mobile-actual-break}){
        @content;
    }
}
@mixin mobile{
    @media(max-width: #{$mobile}){
        @content;
    }
}