| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad-big.single-pad.push-footer
    .gallery-prev
        h1.page-title-news.uk-text-center {{ entry.title }}
        p {{ entry.fullNews }}
        | {% set image = entry.newsImage.first() %}
        | {% if image %}
        .uk-text-center
            .news-img-full
                img(src=' {{image.url}}' , alt='news image large')
        | {% endif %}
        
| {% endblock %}