| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad-big.single-pad.push-footer
    .gallery-prev.contact-cont
        {% for contact in craft.entries.section("contact") %}
        {% if contact.title|length %}
        h1.page-title-pad.uk-text-center {{ contact.title }}
        {% endif %}
        {% if contact.description|length %}
        {{ contact.description }}
        {% endif %}
        {% endfor %}
        form.contact-form(method='post', action='', accept-charset='UTF-8')
            | {{ csrfInput() }}
            input(type='hidden', name='action', value='contact-form/send')
            //input(type='hidden', name='message', value='This user has signed up to emails')
            | {{ redirectInput( siteUrl ~ 'form-complete/contactForm' ) }}                                                                                  
            h3
                label(for='from-name') Your Name
            input#from-name(type='text', name='fromName', value="", required) 
            h3           
                label(for='from-email') Your Email
            input#from-email(type='email', name='fromEmail', value="", required)                                
            h3
                label(for='message') Message
            textarea#message(rows='10', cols='40', name='message', required) 
            
            input.btn.purple-bg.btn-right.btn-small(type='submit', value='Send')
                

| {% endblock %}