.team-cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.team-cont h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.team-img-cont-small img {
    border-radius: 50%;
}

.team-img-cont {
    text-align: center;
}

.team-img-cont img {
    width: 100%;
    min-width: 300px;
    @include mobile-break {
        max-width: 300px;
    }
}

.team-cont h2 {
    font-size: 16px;
    font-style: italic;
    color: $purple;
}

.linkedin {
    color: black;
}

.team-cont h1, .team-cont h2, .linkedin, .team-img-cont-small, .committee {
    margin-bottom: 18px;
    @include mobile-break {
        margin-bottom: 12px;
    }
}

.team-cont {
    margin-bottom: 20px;
    @include mobile-break {
        margin-bottom: 20px;
        border-bottom: solid 1px  #dfdfdf;
        padding-bottom: 10px;
    }
}

.committee {
    margin-bottom: 50px;
}

.profile-cont {
    display: flex;
    margin-top: 15px;
    @include mobile-break {
        flex-direction: column;
    }
}

.team-text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linkedin img {
    width: 160px;
    display: block;
}

.team-text p {
    margin: 10px 0;
}

.team-pad {
    padding-top: 125px!important;
}