.events-cont {
    display: flex;
    flex-wrap: wrap;
}

.event, .news {
    width: 40%;
    border: solid 1px #dddddd;
    border-radius: 5px;
    margin: 8px;
    padding: 3% 4%;
    text-align: left;
    overflow: scroll;
    max-height: 450px;
    @include desktop {
        width: 35%;
    }
    @include mobile-break {
        width: 90%;
    }
}

.event::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.event::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.news {
    @include mobile-break {
        flex-direction: column;
    }
}

.event h2, .event h1 {
    line-height: 1.4;
    border: solid 1px #9d86a9;
    border-width: 0 0 1px 0;
    margin-bottom: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.event span {
    font-weight: bold;
    padding-right: 5px;
}

.img-cont {
    width: 20%;
    min-width: 200px;
    margin-right: 15px;
    margin-left: -15px;
    @include mobile-break {
            width: initial;
            min-width: 200px;
            margin: 0 0 15px 0;
    }
}

.text-cont {
    display: flex;
    -ms-flex: 1 0;
    flex: initial;
    flex-direction: column;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.btn-small {
    padding: 4px 14px!important;
    font-size: 15px;
}

.btn-small:hover {border: solid 2px #dddddd;}

.text-cont a:hover {
    text-decoration: none;
}

.text-cont a {
    margin-top: 15px;
}

.page-title-pad {padding-bottom: 30px;}

.news-img-full img {
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
}

.events.flex {
    flex-direction: column;
}