.page-title {
    padding-bottom: 15px;
}

.gallery-prev a {
    /* border: solid 1px #dddddd; */
    display: inline-block;
    /* padding: 10px; */
    border-radius: 10px;
    margin: 5px;
}

.gallery-header {
    background-position: top;
}

.gallery-pad {
    padding-top: 75px;
}

.sl-overlay {
    background: #000!important;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-counter, .sl-wrapper .sl-navigation button {
    color: white!important;
}