.main-header {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: 50%;
    max-height: 760px;
    height: 100vh;
    // max-width: 1800px;
    margin: auto;
}

.overlay {
    background: rgba(0, 0, 0, 0.4) url('../images/bg-strip.png') repeat scroll 0 0;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1140px;
    width: 90%;
    padding: 5%;
    text-align: center;
    @include mobile-break {
        top: 57.5%;
    }
}

.hero-text h1 {
    font-family: Montserrat;
    font-size: 4.7rem;
    letter-spacing: 1.25px;
    color: #fff;
    font-weight: 400;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    // margin: 0 0 50px;
    @include desktop {
        font-size: 3.5rem;
    }
    @include mobile-break {
        font-size: 2rem;
    }
    @include mobile {
        font-size: 2rem;
    }        
}

.hero-margin {
    margin: 55px 0 ;
}

.hero-text h2 {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    line-height: 1.4;
    margin-top: 55px;
    @include mobile-break {
        font-size: 1rem
    }
}

.btn {
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 5px;
    display: block;
    @include desktop {
        min-width: 215px;
    }
}

.btn-left {
    border: solid 2px white;
    background: none;
    margin-left: auto;
    @include mobile-break {
        margin: 8px auto;
    }
}

.btn-right {
    margin-right: auto;
    border: solid 2px $purple;
    @include mobile-break {
        margin: 8px auto;
    }
}

.btn:hover {
    color: $dark;
    background: white;
    border: solid 2px white;
}

.no-desc-title {
    margin: 0!important;
}

.sub-header {
    max-height: 600px;
}