.u-svg{
    width: 80px;
}
.u-md-svg{
    width: 60px;
}
.vb{
    vertical-align: bottom;
}
.u-tiny-svg{
    width: 25px;
}
.backgroundimage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}