.big-title {
    position: relative;
    text-align: center;
    font-size: 4.286rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 20px;
    @include mobile-break {
        font-size: 2.4em;
    }
}

h2.big-title:before, h2.big-title:after  {
    left: 0;
}

h2.big-title:before {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 45%;
    width: 100%;
}

h2.big-title:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 55%;
    width: 100%;
}

h2.big-title span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.heading .fas, .heading .far {
    text-align: center;
    display: block;
    padding: 5px;
}

.member h3 {
    color: $purple;
    font-size: $font-larger;
    margin-top: 20px;
    margin-bottom: 10px;
    @include mobile-break {
        font-size: $font-large;
    }
}

h2.big-title span.dark {
    background: #1c1c1c;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    color: white;
}

.presentation-cont {
    padding: 10px;
    max-width: 600px;
    width: 70%!important;
    margin-left: auto!important;
    margin-right: auto!important;    
    border: solid 1px #dddddd;
}

.event h1 {
    border-width: 0 0 3px 0!important;
    font-size: 22px;
}