.main-nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 15px 0px 8px 0px;
    //max-width: 1400px;
    background: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    @include mobile-break {
        padding: 5px 0;
    }
}

.main-nav-cont {
    max-width: 1400px;
    margin: 0 auto;
}

.head-pad {
    padding-top: 50px;
    @include mobile-break {
        padding-top: 20px;
    }
}

.head-pad-big {
    padding-top: 130px;
    @include mobile-break {
        padding-top: 100px;
    }
}

.nav-cont {
    max-width: 1400px;
    margin-left: 2%;
    display: inline-block;
    width: 75%;
    @include desktop-large {
        margin: 0;
    }
    @include desktop {
        background: white;
        position: fixed;
        // height: 265px;
        display: none;
        width: 100%;
        padding-top: 12px;
        box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);       
    }
}

.main-nav li {
    display: inline-block;
    text-align: center;
    padding: 0 1.5%;
    @include desktop-large {
        padding: 0 5px;
    }
    @include desktop {
        // display: block;
        // padding: 5px 12px;
        // text-align: left;

            display: inline-block;
            padding: 0;
            text-align: left;
            width: 50%;
            height: 25%;
            background: #9e84a8;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

    }
}

.nav-cont ul {
    display: inline-block;
    width: 110%;
    @include desktop {
        width: 100%;
        height: calc(100vh - 67px);
        display: flex;
        flex-wrap: wrap;
    }
}

.nav-cont li:nth-child(1), .nav-cont li:nth-child(4), .nav-cont li:nth-child(5), .nav-cont li:nth-child(8){
    @include desktop {
        background-color:#3c356a;
    }
  }

.main-nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    @include desktop-larger {
        font-size: 1.1em;
        padding: 8px;
    }
    @include desktop {
        font-size: 1.5em;
        padding: 0;
        color: white;
    }
}

.main-nav li a {
    @include desktop {
        font-size: 1.4em;
        padding: 0;
        color: white!important;
        height: 100%;
        width: 100%;
        line-height: 23vh;
    }
}

.nav-cont a:hover {
    border-bottom: solid $purple 2px;
    text-decoration: none;
    color: black;
}

.scroll {
    background: rgba(0, 0, 0, 0.55);
    transition: background-color 150ms linear;
}

#btn {
    display: none;
    padding: 7px 12px;
    color:white;
    cursor: pointer;
    @include desktop {
        display: inline-block;
    }
}

.logo {
    height: 50px;
    width: 201px;
}

.logo-cont {
    display: inline-block;
    // width: 15%;
    text-align: right;
    padding: 0 0 0 10px;
}

.menu-btn {
    width: 10%;
    display: none;
    float:right;
    // margin-right: 25px;
    margin-right: 35px;
    margin-top: -10px;
}

#btn {
    color:black!important;
}

.nav-icon {
    position: relative;
    top: 5px;
    font-size: 1.6em!important;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    height: 2px!important;
    background-color: black!important;
}

.hamburger--collapse .hamburger-inner {
    bottom: 5px!important;
}

.hamburger-box {
    transform: translateY(50%);
}