{% extends '_layout' %}
{% block content %}<div class="uk-text-center page-404 flex align-center justify-content-center flex-column uk-padding-large"><h1>404 page not found</h1><p><a href="{{ siteUrl }}">Click here</a> to return to homepage</p></div>{% endblock %}