{% extends '_layout' %}
{% block content %}

<div class="page-wrapper head-pad-big single-pad push-footer">
    <div class="gallery-prev contact-cont">
        <h1 class="page-title-pad.uk-text-center">Password Reset</h1>
        <form method="post" accept-charset="UTF-8" class="contact-form">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="users/send-password-reset-email">
            {{ redirectInput('') }}

            <h3><label for="loginName">Username or email</label></h3>
            <input id="loginName" type="text" name="loginName"
                value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">

            {% if errors is defined %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="submit" value="Submit" class="btn purple-bg btn-right btn-small">
        </form>
    </div>
</div>

{% endblock %}