| {% extends '_layout' %}
| {% block content %}


.page-wrapper.head-pad-big.single-pad.push-footer
    .gallery-prev.contact-cont
        h1.page-title-pad.uk-text-center Login

        form.contact-form(method='post', accept-charset='UTF-8')
            | {{ csrfInput() }}
            input(type='hidden', name='action', value='users/login')
            h3
                label(for='loginName') Username or email
            input#loginName(type='text', name='loginName', value='{{ craft.app.user.rememberedUsername }}')
            h3
                label(for='password') Password
            input#password(type='password', name='password')

            input.btn.purple-bg.btn-right.btn-small(type='submit', value='Login')
            |     {% if errorMessage is defined %}
            p {{ errorMessage }}
            |     {% endif %}
        p
            a(href="{{ url('forgotpassword') }}") Forget your password?


| {% endblock %}