{% extends '_layout' %}
{% block content %}<div class="page-wrapper head-pad-big single-pad push-footer"><div class="gallery-prev membership-cont">{% for privacyPolicy in craft.entries.section('privacyPolicy').all() %}<h1 class="page-title-pad uk-text-center">{{ privacyPolicy.title }}</h1>{{ privacyPolicy.privacyPolicy }}
{% endfor %}</div></div>{% endblock %}