| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad-big.single-pad.push-footer
    .gallery-prev.membership-cont
        | {% for privacyPolicy in craft.entries.section('privacyPolicy').all() %}
        h1.page-title-pad.uk-text-center {{ privacyPolicy.title }}
        | {{ privacyPolicy.privacyPolicy }}


        | {% endfor %}

| {% endblock %}