{% extends '_layout' %}
{% block content %}

| {% set userSubmitPassword = craft.request.getPost('password') %}


<div class="page-wrapper head-pad-big single-pad push-footer">
    <div class="gallery-prev contact-cont">
        <h1 class="page-title-pad.uk-text-center"> Register </h1>
        {% set membersAreaPassword = craft.entries.section('members').first() %}
        <!-- <p>{{ userSubmitPassword }}</p>
        <p>{{ membersAreaPassword.password }}</p> -->
        {% if userSubmitPassword == membersAreaPassword.password %}
        <form method="post" accept-charset="UTF-8" class="contact-form">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="users/save-user">
            {{ redirectInput(siteUrl ~ 'members?registered=completed') }}
            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}
        
            {% from _self import errorList %}
        
            <h3><label for="username">Username</label></h3>
            <input id="username" type="text" name="username"
                {%- if user is defined %} value="{{ user.username }}"{% endif -%}>
        
            {% if user is defined %}
                {{ errorList(user.getErrors('username')) }}
            {% endif %}
        
            <h3><label for="email">Email</label></h3>
            <input id="email" type="text" name="email"
                {%- if user is defined %} value="{{ user.email }}"{% endif %}>
        
            {% if user is defined %}
                {{ errorList(user.getErrors('email')) }}
            {% endif %}
        
            <h3><label for="password">Password</label></h3>
            <input id="password" type="password" name="password">
        
            {% if user is defined %}
                {{ errorList(user.getErrors('password')) }}
            {% endif %}
        
            <input type="submit" class="btn purple-bg btn-right btn-small" value="Register">
        </form>
        {% else %}
        <p>Please enter password from admin to register</p>
        <form method="POST" accept-charset="utf-8" class="form-inline contact-form">
            {{ getCsrfInput() }}
            <input type="password" name="password" value="">
            <button type="submit" class="btn purple-bg btn-right btn-small">Submit</button>
        </form>
    {% endif %}


    </div>
</div>

{% endblock %}