{% extends '_layout' %}
{% block content %}

<div class="page-wrapper head-pad-big single-pad push-footer">
    <div class="gallery-prev contact-cont">
        <form method="post" accept-charset="UTF-8" class="contact-form">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="users/set-password">
            <input type="hidden" name="code" value="{{ code }}">
            <input type="hidden" name="id" value="{{ id }}">
        
            <h3><label for="newPassword">New Password</label></h3>
            <input id="newPassword" type="password" name="newPassword">
            {% if errors is defined %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}