| {% extends '_layout' %}
| {% block content %}

| {% for event in craft.entries.section('eventsList').all() %}

| {% for pic in event.titleImage.limit(1).all() %}
.main-header.backgroundimage.gallery-header.sub-header(style='background-image: url({{ pic.url }});')
  .overlay
      .hero-text
        h1.text-white.no-desc-title {{ event.pageTitle | default('events') }}
| {% endfor %}

| {% endfor %}

.page-wrapper.head-pad.single-pad.push-footer
    .gallery-prev.uk-text-center
     
        .events-cont
            |{% for event in craft.entries.section('events').orderBy('eventDate asc').all() if event.eventDate > now|date_modify("-1 day") %}
            .event
                h2 {{ event.title }}
                <p><span> Date: </span>{{ event.eventDate|date('full') }}</p>
                p
                    span Venue:
                    | {{ event.venue }}
                | {% if event.speaker|length %}
                p
                    span Time:
                    | {{ event.time }}
                p
                    span Speaker:
                    | {{ event.speaker }}
                | {% endif %}
                | {% if event.details|length %}
                p
                    span Details:
                    | {{ event.details }}
                | {% endif %}                                 
                |{% if event.bookButton is not empty %}
                .uk-text-center
                    a.btn-link(href="{{event.bookButton.url}}") 
                        button.btn.purple-bg.btn-right.btn-small {{ event.bookButton.text }}
                |{% endif %}
            |{% endfor %}

        h2.uk-margin.uk-margin-medium-top Past Events       
        .events-cont
            |{% for pastEvent in craft.entries.section('events').orderBy('eventDate desc').all() if pastEvent.eventDate < now|date_modify("-1 day") %}
            |{% if loop.index0 <= 4 %}
            .event
                h2 {{ pastEvent.title }}
                p 
                    span Date:
                    | {{ pastEvent.eventDate|date('full') }}
                p
                    span Venue:
                    | {{ pastEvent.venue }}                            
                | {% if pastEvent.speaker|length %}
                p
                    span Time:
                    | {{ pastEvent.time }}
                p
                    span Speaker:
                    | {{ pastEvent.speaker }}
                | {% endif %}
                |{% if pastEvent.details|length %}
                p
                    span Details:
                    | {{ pastEvent.details }}
                |{% endif %}     
                |{% if pastEvent.bookButton is not empty %}
                .uk-text-center
                    a.btn-link(href="{{pastEvent.bookButton.url}}") 
                        button.btn.purple-bg.btn-right.btn-small {{ pastEvent.bookButton.text }}
                |{% endif %}
            |{% endif %}
            |{% endfor %}

| {% endblock %}