{% extends '_layout' %}
{% block content %}
{% for event in craft.entries.section('eventsList').all() %}
{% for pic in event.titleImage.limit(1).all() %}<div style="background-image: url({{ pic.url }});" class="main-header backgroundimage gallery-header sub-header"><div class="overlay"><div class="hero-text"><h1 class="text-white no-desc-title">{{ event.pageTitle | default('events') }}</h1></div></div></div>{% endfor %}
{% endfor %}<div class="page-wrapper head-pad single-pad push-footer"><div class="gallery-prev uk-text-center"><div class="events-cont">{% for event in craft.entries.section('events').orderBy('eventDate asc').all() if event.eventDate > now|date_modify("-1 day") %}<div class="event"><h2>{{ event.title }}</h2><p><span> Date: </span>{{ event.eventDate|date('full') }}</p><p><span>Venue:</span>{{ event.venue }}</p>{% if event.speaker|length %}<p><span>Time:</span>{{ event.time }}</p><p><span>Speaker:</span>{{ event.speaker }}</p>{% endif %}
{% if event.details|length %}<p><span>Details:</span>{{ event.details }}</p>{% endif %}                                 
{% if event.bookButton is not empty %}<div class="uk-text-center"><a href="{{event.bookButton.url}}" class="btn-link"> <button class="btn purple-bg btn-right btn-small">{{ event.bookButton.text }}</button></a></div>{% endif %}</div>{% endfor %}</div><h2 class="uk-margin uk-margin-medium-top">Past Events       </h2><div class="events-cont">{% for pastEvent in craft.entries.section('events').orderBy('eventDate desc').all() if pastEvent.eventDate < now|date_modify("-1 day") %}
{% if loop.index0 <= 4 %}<div class="event"><h2>{{ pastEvent.title }}</h2><p> <span>Date:</span>{{ pastEvent.eventDate|date('full') }}</p><p><span>Venue:</span>{{ pastEvent.venue }}                            </p>{% if pastEvent.speaker|length %}<p><span>Time:</span>{{ pastEvent.time }}</p><p><span>Speaker:</span>{{ pastEvent.speaker }}</p>{% endif %}
{% if pastEvent.details|length %}<p><span>Details:</span>{{ pastEvent.details }}</p>{% endif %}     
{% if pastEvent.bookButton is not empty %}<div class="uk-text-center"><a href="{{pastEvent.bookButton.url}}" class="btn-link"> <button class="btn purple-bg btn-right btn-small">{{ pastEvent.bookButton.text }}</button></a></div>{% endif %}</div>{% endif %}
{% endfor %}</div></div></div>{% endblock %}